{% load static %}
<div class="footer-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 pr-20 md-pr-15 md-mb-20">
                <div class="footer-logo mb-51 md-mb-30">
                    <a href="{% url 'home' %}"><img src="{% static 'assets/img/fav/fav_footer.png' %} " alt=""></a>
                </div>
                <div class="textwidget">
                    <p class="pb-20">Lorem ipsum dolor sit amet, consec tetur adipiscing elit, sed do eiusmod tempor in cididunt ut labore.</p>
                    <p class="pb-25"><strong>Horário de funcionamento:</strong> Seg-Sex: 8h00 - 18h00</p>
                </div>
                <ul class="footer-social md-mb-30">  
                    <li><a href="https://www.facebook.com/henriqueglauco/"><i class="fa fa-facebook"></i></a></li>                     
                    <li><a href="https://www.instagram.com/euoglauco?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="><i class="fa fa-instagram"></i></a></li>                     
                  </ul>
            </div>
            <div class="col-lg-3 md-mb-10">
                <h3 class="footer-title">Informações</h3>
                <ul class="address-widget">
                    <li>
                        <i class="fi fi-rr-map-marker-home"></i>
                        <div class="desc">
                            Pôrto Feliz, SP, Brasil<br>
                        </div>
                    </li>
                    <li>
                        <i class="fi fi-rr-phone-call"></i>
                        <div class="desc">
                           <a href="tel:(+55)1599194-5367">(+55) 15 99194-5367</a><br>
                        </div>
                    </li>
                    <li>
                        <i class="fi fi-rr-envelope-plus"></i>
                        <div class="desc">
                            <a href="mailto:contato@glaucohenrique.com.br">contato@glaucohenrique.com.br</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 md-mb-10">
                <h3 class="footer-title">Nossos Serviços</h3>
                <ul class="site-map">
                    <li><a href="{% url 'map' %}">Mapa da Comunidade</a></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <h3 class="footer-title">Newsletter</h3>
                <p class="widget-desc">Tetur adipiscing elit, sed do eiusmod tempor in cididunt ut labore.</p>
                <p>
                    <input type="email" name="email" placeholder="Seu E-mail" required="">
                    <input type="submit" value="Enviar">
                </p>
            </div>
        </div>
    </div>
</div>
<div class="footer-bottom">
    <div class="container">                    
        <div class="row y-middle">
            <div class="col-lg-6 md-mb-10 text-lg-end text-center order-last">
                <ul class="copy-right-menu">
                    <li><a href="{% url 'home' %}">Home/Blog</a></li>
                    <li><a href="#">Sobre</a></li>
                    <li><a href="#">Serviços</a></li>
                    <li><a href="#">Contatos</a></li>
                </ul>
            </div>
            <div class="col-lg-6">
                <div class="copyright text-lg-start text-center">
                    <p>© 2024 Glauco Henrique.  Designed By <a href="https://github.com/HenryFacens" target="blank">HenrySA</a></p>
                </div>
            </div>
        </div>
    </div>
</div>