{% load static %}
					<div class="toolbar-area topbar-style1 hidden-md">
						<div class="container">
							<div class="row rs-vertical-middle">
							   <div class="col-lg-7">
									<div class="toolbar-contact">
										<ul class="rs-contact-info">                   
											<li>
					                            <i class="fi fi-rr-envelope-plus"></i>                  
					                            <a href="mailto:contato@glaucohenrique.com.br">contato@glaucohenrique.com.br</a>               
					                        </li>
	                                        <li>
                                              	<i class="fi fi-rr-phone-call"></i>                                      
                                                <a href="tel:(+55) 15 99194-5367">(+55) 15 99194-5367</a>                   
                                            </li>
                                            <li>
                                              	<i class="fi-rr-map-marker-home"></i>                                      
												  Pôrto Feliz, SP, Brasil
                                            </li>
										</ul>
									</div>
								</div>
								<div class="col-lg-5">
									<div class="toolbar-sl-share">
										<ul class="clearfix">
											<li class="opening"> <em><i class="fi fi-rr-time-add"></i> Horário: Seg-Sex: 8h00 - 18h00</em> </li>
											<li><a href="https://www.facebook.com/henriqueglauco/"><i class="fa fa-facebook"></i></a></li>
											<li><a href="https://www.instagram.com/euoglauco?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="><i class="fa fa-instagram"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Toolbar Area End -->
					
					<!-- Menu Start -->
					<div class="menu-area menu-sticky">
						<div class="container">
							<div class="row-table">
								<div class="col-cell header-logo">                                  
								    <div class="logo-area">
								        <a href="{% url 'home' %}">
								            <img class="normal-logo" src="{% static 'assets/img/brand/brand_without_white.png' %}" alt="logo">  
								            <img class="sticky-logo" src="{% static 'assets/img/brand/brand_without_white.png' %}" alt="logo">
								        </a>
								    </div>
								</div>
								<div class="col-cell">
									<div class="rs-menu-area">
										<div class="main-menu">
											<nav class="rs-menu hidden-md">
												<ul class="nav-menu">
													<li>
														<a href="{% url 'home' %}">Home/Blog</a>
													</li>
													<li>
														<a href="about.html">Sobre</a>
													</li>
													<li>
														<a href="contact.html">Contato</a>
													</li>
													<li>
														<a href="{% url 'map' %}">Mapa da Comunidade</a>
													</li>
												</ul> <!-- //.nav-menu -->
											</nav>
										</div> <!-- //.main-menu -->
									</div>
								</div>
								<div class="col-cell">
									<div class="expand-btn-inner">
										<ul>
											<li>
											    <a class="hidden-xs rs-search" href="#">
											    </a>
											</li>
                                            <li class="btn-quote"><a class="quote-button" href="#" style="color: white;">Vamos conversar!</a></li>
											<li class="humburger">
											    <a id="nav-expander" class="nav-expander bar" href="#">
											        <div class="bar">
											            <span class="dot1"></span>
											            <span class="dot2"></span>
											            <span class="dot3"></span>
											            <span class="dot4"></span>
											            <span class="dot5"></span>
											            <span class="dot6"></span>
											            <span class="dot7"></span>
											            <span class="dot8"></span>
											            <span class="dot9"></span>
											        </div>
											    </a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Menu End -->

					<!-- Canvas Mobile Menu start -->
					<nav class="right_menu_togle mobile-navbar-menu" id="mobile-navbar-menu">
					    <div class="close-btn">
					        <a id="nav-close2" class="nav-close">
					            <div class="line">
					                <span class="line1"></span>
					                <span class="line2"></span>
					            </div>
					        </a>
					    </div>
					    <ul class="nav-menu">
							<li>
								<a href="index.html">Home/Blog</a>
					    	</li>
					    	<li>
					    		<a href="about.html">Sobre</a>
					    	</li>
							<li>
					    		<a href="contact.html">Contato</a>
					    	</li>
					    	<li>
								<a href="services.html">Mapa da Comunidade</a>
					    	</li>
					    </ul> <!-- //.nav-menu -->
					    <!-- //.nav-menu -->
					   
					    <!-- //.nav-menu -->
					    <div class="canvas-contact">
					          <div class="address-area">
					              <div class="address-list">
					                  <div class="info-icon">
					                      <i class="fi fi-rr-map-marker-home"></i>
					                  </div>
					                  <div class="info-content">
					                      <h4 class="title">Local</h4>
					                      <em>Pôrto Feliz, SP, Brasil</em>
					                  </div>
					              </div>
					              <div class="address-list">
					                  <div class="info-icon">
					                      <i class="fi fi-rr-envelope-plus"></i>
					                  </div>
					                  <div class="info-content">
					                      <h4 class="title">Email</h4>
					                      <em><a href="mailto:info@konstruk.com">Info@gmail.com</a></em>
					                  </div>
					              </div>
					              <div class="address-list">
					                  <div class="info-icon">
					                      <i class="fi fi-rr-phone-call"></i>
					                  </div>
					                  <div class="info-content">
					                      <h4 class="title">Ligue</h4>
					                      <em>(+55) 15 99194-5367</em>
					                  </div>
					              </div>
					          </div>
					    </div>
					</nav>